.post-div {
  font-family: monospace;
  padding: 30px 20px;
  margin-bottom: 50px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 4px;
}

.post-location {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 0;
}

.img-container {
  width: 100%;

  & img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    margin: 0 auto;
  }
}

.post-csr-list {
  list-style-type: none;

  & li {
    margin-bottom: 0;
  }
}

.likes-heart {
  font-size: 17px;
  transition: color 0.15s;

  &:hover {
    color: red;
    cursor: pointer;
  }
}
