.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

/* Margin */
.mtb-2p {
  margin-block: 2%;
}

.mt-20 {
  margin-top: 20px;
}

.mt-2p {
  margin-top: 2%;
}

.mt-5p {
  margin-top: 5%;
}

.mt-10p {
  margin-top: 10%;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

/* Text Decoration */
.fw-700 {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}

.centerText {
  text-align: center;
}
