.hidden {
  display: none;
}

label {
  margin-bottom: 10px;
  display: block;
}

/* Margin */
.mt-10p {
  margin-top: 10%;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-15 {
  margin-bottom: 15px;
}

/* Text Decoration */
.fw-700 {
  font-weight: 700;
}

.underline {
  text-decoration: underline;
}
