.local-post-container {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  padding: 70px 45px;
  margin-bottom: 40px;
}

.local-post-heading {
  font-size: 32px;
}

.local-post-section-heading {
  font-size: 24px;
  text-decoration: underline;
}
